{% include 'admin/header.html' %} 
          <style type="text/css">
            div.cropbox .btn-file {
                position: relative;
                overflow: hidden;
            }
            div.cropbox .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
            div.cropbox .cropped {
                margin-top: 10px;
            }
            .syntaxhighlighter table .container:before {
                display: none !important;
            }
            footer {
                margin-top: 10px;
                border-top: #cdcdcd 1px solid;
            }
            /*.container { margin:150px auto 30px auto;}*/
        </style>
         Page Content
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="padding:0px;">
                          <br><br>
                        <div class="panel panel-default" style="padding:0px;">
                          <div class="panel-heading">
                            <a href="/admin/post/add" class="btn btn-default btn-sm pull-right">
                              <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              New 
                           </a>
                            <h3 class="panel-title">
                              <a href="#menu-toggle" style="border:none;font-size:20px;" class="" id="menu-toggle">
                              <i class="fa fa-bars" aria-hidden="true"></i>
                              </a>
                               Post Form
                            </h3>
                          </div>
                          <div class="panel-body" >
                            <div class="table-responsive" style="border:none;">
                                <!--form upload-->
                                <div class="col-md-12 col-xs-12 col-md-12 col-lg-12" >
                                <br/>
                                    <form class="form-horizontal" action="/admin/post/add/" method="POST" id="frm" enctype="multipart/form-data">
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                        {% for message in messages %}
                                          <li class="alert alert-warning"> 
                                            {{ message }}
                                          </li>
                                        {% endfor %}
                                      {% endif %}
                                    {% endwith %}
                                      <!-- input title-->
                                     {{ form.hidden_tag() }}
                                      <div class="form-group">
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                          <!-- <input id="name" name="name" type="text" placeholder="Type your title here..." class="form-control"> -->
                                          {{ form.title.label }}
                                          </div>
                                          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            {{ form.title(class_="form-control") }}
                                          </div>
                                      </div>
                                      <!-- Message body -->
                                      <div class="form-group">
                                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                          <!-- <input id="name" name="name" type="text" placeholder="Type your title here..." class="form-control"> -->
                                          {{ form.description.label }}
                                          </div>
                                          <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
                                            {{ form.description(class_="form-control ckeditor",id="description") }}
                                          </div>
                                        
                                           <script type="text/javascript">
                                              // CKEDITOR.replace("desc", {
                                              //     filebrowserUploadUrl: '/static/images/content/',
                                              //     filebrowserImageUploadUrl: '/static/images/content/'
                                              // });
                                              CKEDITOR.replace("desc", {
                                                  filebrowserUploadUrl: '/admin/ckupload/',
                                                  filebrowserImageUploadUrl: '/ckupload/'
                                              });
                                          </script>
                                      </div>
                                      <!--select box-->
                                      <div class="form-group">
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"><br/>
                                          <!-- <input id="name" name="name" type="text" placeholder="Type your title here..." class="form-control"> -->
                                          {{ form.category_id.label }}
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                          <br/>
                                          {{ form.category_id(class_="form-control") }}
                                        </div>
                                      </div>
                                      <!--end select box-->
                                      <!--test add feature image-->
                                      <div class="form-group">
                                        <div class="col-md-7 col-xs-12 co-md-8 col-lg-7">
                                          <div id="plugin" class="cropbox">
                                            <div class="workarea-cropbox">
                                                <div class="bg-cropbox">
                                                    <img class="image-cropbox">
                                                    <div class="membrane-cropbox"></div>
                                                </div>
                                                <div class="frame-cropbox">
                                                    <div class="resize-cropbox"></div>
                                                </div>
                                            </div>
                                            <div class="btn-group">
                                                  <span class="btn btn-primary btn-file">
                                                      <i class="glyphicon glyphicon-folder-open"></i>
                                                      Browse <input type="file" accept="image/*">
                                                  </span>
                                                  <button type="button" class="btn btn-success btn-crop">
                                                      <i class="glyphicon glyphicon-scissors"></i> Crop
                                                  </button>
                                                  <button type="button" class="btn btn-warning btn-reset">
                                                      <i class="glyphicon glyphicon-repeat"></i> Reset
                                                  </button>
                                              </div>
                                            <div class="cropped panel panel-default">
                                                  <div class="panel-heading"><h3 class="panel-title">Result of cropping</h3></div>
                                                  <div class="panel-body">...</div>
                                              </div>
                                              <div class="form-group">
                                                  <label>Info of cropping</label>
                                                  <textarea class="data form-control" rows="5">
                                                  </textarea>
                                              </div>
                                          </div>
                                        </div>
                                      </div>

                                      <!--end add feature image-->
                                      <!--feature image-->
                                      <div class="form-group">
                                        <div class="col-md-7 col-xs-12 co-md-8 col-lg-7">
                                          <span class="btn btn-default fileinput-button">
                                              <!-- <i class="glyphicon glyphicon-plus"></i>
                                              <span>Add more images</span> -->
                                              
                                               {{ form.feature_image(onchange="loadFile(event)") }}
                                             <!--  <input type="file" onchange="loadFile(event)"/> -->
                                          </span>
                                          <br><br>
                                          <span>
                                            <img id="output" class="feature_output img-responsive" style="max-width:200px;"/>
                                          </span>
                                          <script>
                                            var loadFile = function(event) {
                                              var output = document.getElementById('output');
                                              output.src = URL.createObjectURL(event.target.files[0]);
                                            };
                                          </script>
                                        </div>
                                      </div>
                                      <!--end feature image-->
                                      <!-- Form actions -->
                                      <div class="form-group">
                                        <div class="col-md-12 text-right">
                                          <center>
                                            <button type="submit" class="btn btn-default btn-sm btn-primary">
                                              <i class="fa fa-upload" aria-hidden="true"></i>
                                                Publish
                                              </button>
                                            <button type="reset" class="btn btn-default btn-sm">
                                            <i class="fa fa-ban" aria-hidden="true"></i>
                                            Cancel
                                            </button>
                                          </center>
                                        </div>
                                      </div>
                                    </form>
                                  
                                </div>
                                <!--end form upload-->
                            </div> 
                          </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/scroll.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(".off-canvas-submenu").hide();
    $(".off-canvas-submenu-call").click(function() {
    var icon = $(this).parent().next(".off-canvas-submenu").is(':visible') ? '':'';
    $(this).parent().next(".off-canvas-submenu").slideToggle('slow');
    $(this).find("span").text(icon);

});
</script>
{% for p in post %}
 <script type="text/javascript">
   $('input#title').attr('value',"{{p.title}}"); 
   $('#frm').attr('action','/admin/post/edit/{{p.slug}}/');
   var help="{{p.description.replace('\n', '').replace('\r','')}}";
   //help=help.replace(/(&lt;br\/&gt;)+/gi,'')
   //alert(help);
   $('#description').html(help);  
   $('select#category_id option[value="{{p.category_id}}"]').attr("selected","selected");
   $(".feature_output").attr("src","/static/images/feature_images/{{p.feature_image}}");
 </script>
 <!--start crop plugin-->
          <script>
            $('#plugin').cropbox({
                selectors: {
                    inputInfo: '#plugin textarea.data',
                    inputFile: '#plugin input[type="file"]',
                    btnCrop: '#plugin .btn-crop',
                    btnReset: '#plugin .btn-reset',
                    resultContainer: '#plugin .cropped .panel-body',
                    messageBlock: '#message'
                },
                imageOptions: {
                    class: 'img-thumbnail',
                    style: 'margin-right: 5px; margin-bottom: 0px'
                },
                variants: [
                    {
                        width: 400,
                        height: 300,
                        minWidth: 180,
                        minHeight: 200,
                        maxWidth: 400,
                        maxHeight: 400
                    },
                    {
                        width: 400,
                        height: 400
                    }
                ],
                messages: [
                    'Crop a middle image.',
                    'Crop a small image.'
                ]
            });
            </script>
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-36251023-1']);
              _gaq.push(['_setDomainName', 'jqueryscript.net']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>

    <!--end start crop plugin-->
{% endfor %}




</body>

</html>

