{% include 'admin/header.html' %} 
<style type="text/css">
.checkbox{
	padding: 10px;
	font-size: 20px;
}
</style>
<div class="container" style="margin-top:50px;">
	<div class="row" style="margin-top:10px;border-bottom: solid thin #ececec !important;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        	<legend>Select Menu</legend>
        	 <form role="form">
			    <div class="checkbox">
			      <label><input type="checkbox" value="">Home</label>
			    </div>
			    <div class="checkbox">
			      <label><input type="checkbox" value="">History</label>
			    </div>
			    <div class="checkbox ">
			      <label><input type="checkbox" value="" >Technology</label>
			    </div>
			  </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        	<legend>Select Page</legend>
        	 <form role="form">
			    <div class="checkbox">
			      <label><input type="checkbox" value="">Home</label>
			    </div>
			    <div class="checkbox">
			      <label><input type="checkbox" value="">History</label>
			    </div>
			    <div class="checkbox ">
			      <label><input type="checkbox" value="" >Technology</label>
			    </div>
			  </form>
        </div>
    </div>
</div>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(".off-canvas-submenu").hide();
    $(".off-canvas-submenu-call").click(function() {
	    var icon = $(this).parent().next(".off-canvas-submenu").is(':visible') ? '':'';
	    $(this).parent().next(".off-canvas-submenu").slideToggle('slow');
	    $(this).find("span").text(icon);
	});
</script>
</body>
</html>
<!--end menu add-->