<!-- <!DOCTYPE html-->
<html>
<head>
    <title>Directory</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery library -->
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/tem1.css">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/tem1.js"></script>
    <script type="text/javascript" src="/static/js/amok-library.js"></script>
</head>
<body>
    <!--menu navbar-->  
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display --> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Amok.com</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Amok</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav amok-menu" >
                    <!--menu is here-->
                </ul>

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control pull-right" style="width: 300px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="reset" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove">
                                    <span class="sr-only">Close</span>
                                </span>
                            </button>
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search">
                                    <span class="sr-only">Search</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    </div>
    <!--end menu navbar-->
    <div class="container">
        <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;background:smoke-white;margin-top:14px;">
        <label><h5>Popular this week</h5></label>
        </div>
        <div class="posts">
        <!-- {%for post in posts%} -->
            <!-- <div class="box1 col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;margin-top:14px; background-color: rgb(248, 248, 248);">
                <div class="testimonial-section" style="padding:0px;">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <img class="img-responsive" src="/{{post.feature_image}}"  alt="Cinque Terre"  > 
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <h4><a href="/{{post.slug}}">{{post.title}}</a></h4>
                        <p>{{post.description[:125]}}...</p>
                        
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                        <h4>
                            <a href="/{{post.slug}}">
                                <p style="line-height:400%;" class="pull-right">
                                <i class="fa fa-eye" aria-hidden="true">
                                </i>
                                    View
                                </p>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        {%endfor%} -->
        </div>
        </div>
</body>
</html> 