<!--DOCTYPE html-->
<html>
<head>
    <title>Directory</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/single1.css">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/tem1.js"></script>
    <script type="text/javascript" src="/static/js/amok-library.js"></script>
</head>
<body>
    <!--menu navbar-->  
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav amok-menu">
                    <!--menu is here-->
                </ul>

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control pull-right" style="width: 300px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="reset" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove">
                                    <span class="sr-only">Close</span>
                                </span>
                            </button>
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search">
                                    <span class="sr-only">Search</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    </div>
    <!--end menu navbar-->
    <br><br>

    <div class="banner1" style="background-image: linear-gradient(to bottom, rgba(3,2,3,2), rgba(0, 0, 0, 0.6)),url('../images/banner.jpg');">
        
    </div>
    <div class="container" style="clear:both;">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;margin-top:14px;">
            {% for p in single %}
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="clear:both;">

                    <label>
                        <h4>
                        {{p.title}}
                        </h4>
                    </label>
                      <p class="descript">
                        {{p.description}}
                      </p>

                </div>
            {% endfor %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding:0px;">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <img src="../images/car.jpg" class="imgg-responsive" width="100%;">
                 </div>
                 <br><br>
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <label>Latest Post</label>
                 </div>
                {%for l in latest %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:100px;margin-top:2px;style="padding:0px;"">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs" style="padding:0px;">
                            <img src="/{{l.feature_image}}" class=" img-responsive" width="100%"/>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding:0px;">
                            <p class="descript">
                              <a href="#" style="color:gray;text-indent:3px;">   
                              {{l.title}}
                              </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>