<!--start footer-->
<!--sponsor-->
<br><br>
<div class="banner" style="margin-top:-5px;padding-bottom:0px;">
  <div class="container">
      <div class="row">
            <div class="span12">
	            <div id="owl-example" class="owl-carousel">
                  {%for partner in partners%}
                  <a href="{{partner.url}}" target="_blank">
	                <div class="item steelGray">
	                  <img src="{{partner.feature_image}}" alt="{{partner.name}}">
	                    <h4>{{partner.name}}</h4>
	                </div>
                  </a>
                  {%endfor%}
	                
	              </div>
	            </div>
          	</div>
    </div>
</div>
<!--end sponsor-->
<footer id="footer">
  <div class="container">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-3 column"> 
      </div>
      <div class="col-xs-12 col-md-6 column">          
        <center>
          <ul class="nav">
            <li>
            <a href="/">
              <img src="/static/{{template_name}}/img/logo.png" class="footer_logo img-responsive brand">
            </a>
            </li>
            <li><a href="/">
                    
            </a></li>
            <li style="font-size:18px;color:white;"><a href="#">
            	Contact: (+855) 78-785-044
            </a></li>
            <li style="font-size:18px;color:white;"><a href="#">
            	Email: chhunny@anakot.asia 
            </a></li>

          </ul> 
        </center>
      </div>
      <div class="col-xs-6 col-md-6 column">           
      </div>
    </div><!--/row-->
  </div>
</footer>

<!--end footer-->
</body>
</html>