
{% include template_name+'/header.html' %} 
<style type="text/css">
	div.img {
    border: 0px solid #ccc;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    padding-top: 5px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.name{
	font-weight: 600;
	color: #F29B34;

}
</style>

<!--container-->
{%for page in page_object%}
<div class="bg-overlay" style="background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.42)), url(/static/{{template_name}}/img/header/{{header_image}});
    				background-repeat: no-repeat;border-radius:0px;" >
	<div class="row text-center">
		<h3>{{page.title}}</h3>
	</div>
</div>
<div class="container mycontent">
	<p class="description" style="font-size:20px;color:red;">
	{{page.description|safe}}
	</p>
</div>

{%endfor%}

		<!--end modal profile-->
<!--end container-->
{% include template_name+'/footer.html' %} 